# Auto detect text files and perform LF normalization
* text=auto
/RoverDelivery/Content/Downtown_West/Assets/background_mountain/Textures/T_snow_mountain01_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Asphalt/T_asphalt_base_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Asphalt/T_asphalt_damaged_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Bricks_Ground/T_brick_ground_straight_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Bricks_Ground/T_brick_standard_b_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Building_Cafe_A/Bricks_A/T_Bricks_a_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Building_Cafe_A/Bricks_B/T_bricks_b_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Building_Cafe_A/Bricks_B/T_bricks_b_v2_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Building_Cafe_A/Plaster_A/T_plaster_a_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Building_Cafe_A/Plaster_B/T_plaster_b_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Building_F/Bricks_Chunky/T_chunky_brick_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Building_F/Stucco/T_stucco_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Decals/T_decals_dripping_albedo.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Decals/T_grunge_decal_a_albedo.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Decals/T_grunge_decal_a_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Detail_Rocks/T_rocknoise_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/Downtown_West/Textures/Ground_Landscape/T_sand_normal.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Building/CH/A/Kit_Bldg_CHA_L2_A/Mesh/SM_BLDG_CHA_L02_A_Entrance_01_N1.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Building/CH/D/Kit_Bldg_CHD_L1_A/Mesh/SM_BLDG_CHD_L1_A_Entrance_01_N1.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Building/CH/G/Kit_Bldg_CHG_L1_A/Mesh/SM_BLDG_CHG_L01_A_Entrance_01_N1.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Building/NY/G/Kit_Bldg_NYG_L1_A/Mesh/SM_BLDG_NYG_L01_A_Entrance_01_N1.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Building/NY/G/Kit_Bldg_NYG_L2_A/Mesh/SM_BLDG_NYG_L02_A_Wall_04_N1.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Building/SF/J/Kit_Bldg_SFJ_L1_A/Mesh/SM_BLDG_SFJ_L1_A1_Entrance_01_N1.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Lighting/HDRI_SFCorner.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Textures/Block/T_Block_PackedB.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Textures/Brick/T_Brick_PackedB.uasset filter=lfs diff=lfs merge=lfs -text
/RoverDelivery/Content/CitySampleBuildings/Textures/BrickOffsetAlt/T_BrickOffsetAlt_N.uasset filter=lfs diff=lfs merge=lfs -text
